* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 16px;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

.home {
  height: 100%;
  width: 100%;
}

.home .header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  display: flex;
}

.home .header span {
  flex: 1;
}

.home .header > span:nth-child(1) > img {
  width: 200px;
  height: 50px;
  margin-left: 100px;
}

.home .header span:nth-child(2) {
  float: right;
  text-align: right;
  padding-right: 100px;
}

.home .header span:nth-child(2) .anticon svg {
  margin-top: 40px;
  margin-left: 20px;
}

.home .header span:nth-child(2) .ant-avatar {
  width: 38px;
  height: 38px;
  margin-right: 10px;
}

.home .header span:nth-child(2) .ant-avatar img {
  width: 38px;
  height: 38px;
}

.home .main {
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
}

.home .main .main-left {
  width: 200px;
  flex-shrink: 0;
  border-right: 1px solid #ccc;
  height: 100%;
}

.home .main .main-left .ant-menu-inline {
  height: 100%;
}

.home .main .main-left .ant-menu-submenu-title {
  font-size: 18px;
}

.home .main .main-right {
  width: calc(100% - 200px);
  background: #f0f2f5;
  height: 100%;
  overflow-y: auto;
  width: calc(100% - 200px);
  background: #f0f2f5;
}

.home .main .markIndex {
  width: 100%;
  padding: 20px;
}

.home .main .markIndex .ant-table-wrapper {
  border-radius: 20px;
}

.home .main .marking {
  padding: 24px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home .main .marking h2 {
  height: 40px;
  line-height: 40px;
}

.home .main .marking .inquire {
  width: 100%;
  height: 120px;
  background: #fff;
  margin: 0px auto 0 auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px;
}

.home .main .marking .inquire h3 {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-indent: 20px;
}

.home .main .marking .inquire .inquire {
  width: 100%;
  display: flex;
  align-items: center;
  height: 150px;
  background: #fff;
}

.home .main .marking .inquire .mainList {
  width: 100% !important;
  height: 70% !important;
  background: #fff;
  margin: 0 auto;
  border-radius: 10px;
  height: auto;
  overflow-y: auto;
  width: calc(100% - 200px);
  background: #f0f2f5;
}

.home .main .marking .markDefault {
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow: hidden;
}

.home .main .marking .markDefault .markDefaultInfor {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  display: flex;
}

.home .main .marking .markDefault .markDefaultInfor .left {
  width: 73%;
  height: 100%;
  background: #fff;
  padding: 50px;
  overflow-x: hidden;
  overflow-y: auto;
}

.home .main .marking .markDefault .markDefaultInfor .left img {
  width: 100%;
}

.home .main .marking .markDefault .markDefaultInfor .left .answerTitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.home .main .marking .markDefault .markDefaultInfor .left .answerTitle .answerTitleItem {
  width: 45% !important;
}

.home .main .marking .markDefault .markDefaultInfor .left .answer {
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.home .main .marking .markDefault .markDefaultInfor .left .answer .studentAnswer, .home .main .marking .markDefault .markDefaultInfor .left .answer .standardAnswer {
  width: 45%;
  padding: 10px;
}

.home .main .marking .markDefault .markDefaultInfor .right {
  width: 25%;
  height: 200px;
  background: #fff;
}

.home .main .showUser h2 {
  height: 70px;
  line-height: 70px;
  padding-left: 30px;
}

.home .main .showUser nav {
  padding-left: 30px;
}

.home .main .showUser nav .showUseraction {
  border-color: blue;
  color: blue;
}

.home .main .showUser h3 {
  font-size: 24px;
  font-weight: 800;
  height: 60px;
  line-height: 60px;
  padding-left: 30px;
}

.home .main .ShowQuestions {
  width: 100%;
  height: 100%;
  padding: 24px;
}

.home .main .ShowQuestions .search_main {
  width: 100%;
  height: 200px;
  background: #fff;
  border-radius: 20px;
  margin: 20px 0 50px 0;
  padding: 24px 100px;
  font-size: 18px;
}

.home .main .ShowQuestions .search_main .object_type {
  width: 100%;
  height: 65px;
  line-height: 65px;
  overflow-x: auto;
}

.home .main .ShowQuestions .search_main .object_type span {
  margin-left: 10px;
  padding: 2px 5px;
  height: 20px;
}

.home .main .ShowQuestions .search_main .object_type span:hover {
  cursor: pointer;
}

.home .main .ShowQuestions .search_main .object_type .click_span {
  background: #3a7fe1;
  color: #fff;
}

.home .main .ShowQuestions .search_main .test_type {
  width: 100%;
  height: 65px;
  line-height: 65px;
}

.home .main .ShowQuestions .search_main .test_type .type_span {
  display: inline-block;
  padding: 0 15px;
}

.home .main .ShowQuestions .show_list {
  width: 100%;
  padding: 40px 30px;
  background: #fff;
  border-radius: 20px;
}

.home .main .ShowQuestions .show_list .question_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  padding: 15px 0;
}

.home .main .ShowQuestions .show_list .question_item:hover {
  background: #ebe7e7;
  cursor: pointer;
}

.home .main .ShowQuestions .show_list .question_item_tags {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.home .main .ShowQuestions .show_list .question_item_tags .tags_list {
  margin: 10px 0;
}

.home .main .del {
  width: 100%;
  height: 100%;
  padding: 24px;
}

.home .main .del .del_main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.home .main .del .del_main .del_left {
  width: 70%;
  padding: 30px 20px;
  background: #fff;
  border-radius: 10px;
}

.home .main .del .del_main .del_right {
  width: 25%;
  padding: 30px 20px;
  background: #fff;
  border-radius: 10px;
}

.home .main .questionsType {
  width: 100%;
  height: 100%;
  padding: 24px;
}

.home .main .questionsType .questionsType_main {
  width: 100%;
  padding: 24px;
  background: #fff;
  border-radius: 10px;
}

.home .main .questionsType .add_type {
  margin-bottom: 20px;
  padding: 20px 25px;
  font-size: 16px;
  line-height: 0px;
}

.home .main .add_question {
  width: 100%;
  height: 100%;
  padding: 24px;
}

.home .main .add_question .add_question_main {
  width: 100%;
  padding: 40px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.home .main .add_question .add_question_main .type_span {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100px;
  line-height: 50px;
}

.home .main .add_question .add_question_main .lagre {
  width: 250px;
  margin-bottom: 10px;
}

.home .main .add_question .add_question_main #div1, .home .main .add_question .add_question_main #div2 {
  margin: 10px 0;
}

.home .main .login {
  width: 100%;
  height: 100%;
  background: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1603091240060&di=33994062460c92366ae599439efc055b&imgtype=0&src=http%3A%2F%2Ft2.qpic.cn%2Fmblogpic%2F62c172079f245bd42d6c%2F2000");
}

.home .main .login .form {
  width: 400px;
  height: 300px;
  position: fixed;
  top: 50%;
  color: #fff;
  right: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  background: rgba(125, 125, 124, 0.3);
  overflow: hidden;
}

.home .main .login .form h2 {
  text-align: center;
  height: 50px;
  background: rgba(152, 149, 149, 0.5);
  line-height: 50px;
  color: #fff;
  font-weight: 800;
}

.home .main .login .form p {
  margin-top: 30px;
  height: 40px;
}

.home .main .login .form p span {
  background: rgba(98, 97, 97, 0.6);
  display: inline-block;
  width: 40px;
  height: 40px;
}

.home .main .login .form p span .anticon {
  font-size: 24px;
  line-height: 40px;
}

.home .main .login .form p input {
  width: 300px;
  margin-left: 30px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #514d4d;
  outline-color: #e8e8e8;
  color: #000;
  font-size: 18px;
}

.home .main .login .form div {
  padding-left: 20px;
}

.home .main .login .form div .ant-checkbox {
  margin-right: 20px;
}

.home .main .login .form button {
  margin-top: 20px;
  width: 400px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  background: rgba(129, 221, 90, 0.5);
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}

.home .main .login .form button:hover {
  background: rgba(150, 247, 108, 0.7);
}

.home .main .adduser {
  width: 100%;
  height: auto;
  background: #f0f2f5;
}

.home .main .adduser h2 {
  margin: 20px;
}

.home .main .adduser .ant-layout {
  background: #f0f2f5;
}

.home .main .adduser .ant-layout .ant-layout-sider {
  background: #f0f2f5;
  border: 1px solid #e2dddd;
  padding: 20px;
}

.home .main .adduser .ant-layout .ant-layout-sider .ant-form {
  margin-top: 20px;
}

.home .main .adduser .ant-layout .ant-layout-sider .ant-btn {
  padding: 0 30px;
}

.home .main .adduser .ant-layout .ant-layout-sider .ant-select {
  width: 200px;
}

.home .main .adduser .ant-layout .ant-layout-sider .addUseractive {
  border-color: blue;
  color: blue;
}

.home .main .adduser .layrow {
  margin: 0 60px;
}

.home .main .classmanager {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  padding: 25px 10px 25px 20px;
}

.home .main .classmanager h2 {
  padding-bottom: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.home .main .classmanager .content {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 25px 15px;
  background: #fff;
  flex-direction: column;
}

.home .main .classmanager .content .top {
  width: 100%;
  margin-bottom: 15px;
}

.home .main .classmanager .content .list {
  width: 100%;
  flex: 1;
}

.home .main .classmanager .content .add_modal #components-form-demo-control-ref .ant-btn {
  margin-right: 8px;
}

.home .main .classmanager .content .add_modal .submit {
  margin-left: 8px;
}

.home .main .classmanager {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  padding: 25px 10px 25px 20px;
}

.home .main .classmanager .content {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 25px 15px;
  background: #fff;
  flex-direction: column;
}

.home .main .classmanager .content .top {
  width: 100%;
  margin-bottom: 15px;
}

.home .main .classmanager .content .list {
  width: 100%;
  flex: 1;
}

.home .main .classromm {
  width: 100%;
  height: 100%;
  padding: 30px;
}

.home .main .classromm .add {
  background: #fff;
}

.home .main .classromm .addbox {
  background: #fff;
  margin-top: 30px !important;
  padding: 30px;
}

.home .main .studentmanager {
  width: 100%;
  height: 100%;
  padding: 30px;
}

.home .main .studentmanager .scorll {
  width: 100%;
  height: 100%;
}

.home .main .studentmanager .scorll .tables {
  width: 100%;
  height: 100%;
}

.home .main .editable-cell {
  position: relative;
}

.home .main .editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.home .main .editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}

.home .main [data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #434343;
}

.home .main .gw_addexam {
  width: 100%;
  height: 100%;
  background: #eeeeee;
}

.home .main .gw_addexam h2 {
  padding-top: 30px;
}

.home .main .gw_addexam .exam_cont {
  background-color: white;
  margin: 30px;
  overflow: hidden;
  padding: 50px 20px;
}

.home .main .gw_addexam .exam_cont div {
  width: 100%;
}

.home .main .gw_addexam .exam_cont div p {
  height: 40px;
  line-height: 40px;
  margin-top: 20px;
}

.home .main .gw_addexam .exam_cont div p span {
  color: red;
}

.home .main .gw_addexam .exam_cont div input {
  outline: none;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 1px;
}

.home .main .gw_addexam .exam_cont Button {
  margin-top: 20px;
}

.home .main .gwexamEdit {
  width: 100%;
  height: 100%;
  background: #eeeeee;
}

.home .main .gwexamEdit h2 {
  padding-top: 30px;
}

.home .main .gwexamEdit .gwexamEdit_cont {
  background-color: white;
  width: 90%;
  margin: 30px;
  overflow: hidden;
  padding: 10px 50px;
}

.home .main .gwexamEdit .gwexamEdit_cont .gwexamEdit_cont_01 {
  text-align: center;
  margin: 10px 0;
}

.home .main .gwexamEdit .gwexamEdit_cont .gwexamEdit_cont_01 h3 {
  font-size: 20px;
}

.home .main .gwexamEdit .gwexamEdit_cont .gwexamEdit_cont_01 p {
  color: gray;
}

.home .main .gwexamEdit .list_cont {
  border: 1px solid #ccc;
  padding: 0 10px;
  margin: 20px 0;
}

.home .main .gwexamEdit .list_cont i {
  float: right;
  font-style: normal;
  color: #05adf0;
}

.home .main .gwexamEdit .list_cont b {
  display: inline-block;
}

.home .main .gwexamEdit .list_cont b, .home .main .gwexamEdit .list_cont p {
  margin: 20px 0;
}

.home .main .gwexamEdit .add {
  margin: 20px 40px;
}

.home .main .allExam {
  margin: 10px 0 40px;
}

.home .main .allExam p span {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  width: auto;
  margin: 10px;
  padding: 0 3px;
  text-align: center;
}

.home .main .allExam p span:hover {
  cursor: pointer;
  color: #05adf0;
}

.home .main .allExam p .spanclass {
  color: white;
  cursor: pointer;
  background: #05adf0;
}

.home .main .allExam p #spanclass {
  color: white;
  background: #05adf0;
  cursor: pointer;
}

.home .main .allExam div {
  display: inline-block;
  margin: 0 10px;
}

.home .main .allExam Button {
  margin-left: 20px;
  padding: 0 20px;
}

.home .main .questionsNew_cont div {
  padding-left: 10px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
}

.home .main .questionsNew_cont div b {
  margin-bottom: 10px;
}

.home .main .questionsNew_cont div p span {
  display: inline-block;
  padding: 0 1px;
}

.home .main .questionsNew_cont div p span:first-child {
  border: 1px solid skyblue;
  background-color: #e0f0f6;
  color: #46bdec;
}

.home .main .questionsNew_cont div p span:nth-child(2) {
  border: 1px solid skyblue;
  background-color: #cfe7f0;
  color: #164e64;
  margin: 0 10px;
}

.home .main .questionsNew_cont div p span:nth-child(3) {
  border: 1px solid orange;
  background-color: #fff6e4;
  color: orange;
}

.home .main .questionsNew_cont div p b {
  float: right;
}

.home .main .questionsNew_cont div p b i {
  font-style: normal;
}

.home .main .gwExamList h2 {
  padding-top: 30px;
}

.home .main .gwExamList .gwExamList_cont_01 {
  background-color: white;
  height: 100px;
  align-items: center;
  margin: 30px;
  overflow: hidden;
  padding: 10px;
  display: flex;
}

.home .main .gwExamList .gwExamList_cont_01 div {
  margin-right: 20px;
}

.home .main .gwExamList .gwExamList_cont_02 {
  margin: 0 30px;
}

.home .main .gwExamDetail {
  width: 100%;
  height: 100%;
  background: #eeeeee;
}

.home .main .gwExamDetail h2 {
  padding-top: 30px;
}

.home .main .gwExamDetail div {
  height: auto;
  margin: 30px 20px;
}

.home .main .gwExamDetail div .right {
  float: right;
  width: 30%;
  margin-left: 1%;
  background-color: white;
  height: 100%;
  margin-right: 3%;
}

.home .main .gwExamDetail div .left {
  float: left;
  width: 60%;
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.home .main .gwExamDetail div .left div {
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.home .main .gwExamDetail div .left div b {
  margin: 10px 0;
}
