* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 16px;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
}

.loading{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    .spin{
        margin-top: 400px;
    }
}
.home{
    height: 100%;
    width: 100%;

    .header {
        width: 100%;
        height: 80px;
        line-height: 80px;
        font-size: 20px;
        border-bottom: 3px solid ;
        display: flex;
        border-color: #b3aeae;
        span {
            flex: 1;

        }

        >span:nth-child(1) {
            >img {
                width: 200px;
                height: 50px;
                margin-left: 100px;
            }
        }

        span:nth-child(2) {
            float: right;
            text-align: right;
            padding-right: 100px;

            .anticon svg {
                margin-top: 40px;
                margin-left: 20px;
            }

            .ant-avatar {
                width: 38px;
                height: 38px;
                margin-right: 10px;

                img {
                    width: 38px;
                    height: 38px;
                }
            }
        }
    }

    .main {
        width: 100%;
        height: calc(100% - 80px);
        display: flex;

        .main-left {
            width: 200px;
            flex-shrink: 0;
            border-right: 1px solid #ccc;
            height: 100%;

            .ant-menu-inline {
                height: 100%;
            }

            .ant-menu-submenu-title {
                font-size: 18px;
            }
        }

        .main-right{
            width: calc(100% - 200px);
            background: #f0f2f5;
            height: 100%;
            overflow-y: auto;
        }
    }

}


.markIndex{
    width: 100%;
    height: 100%;
    h3{
        width: 100%;
        height: 50px;
    }
}
.marking{
    padding: 24px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2 {
        height: 40px;
        line-height: 40px;
    }
    .inquire{
        width: 100%;
        height: 120px;
        background: #fff;
        margin: 0px auto 0 auto;
        border-radius: 10px;
        display: flex;
        align-items: center;
        button{
            margin-left: 50px;
        }
    }
    .mainList{
        width: 100% !important;
        height: 70% !important;
        background: #fff;
        margin: 0 auto  ;
        border-radius: 10px;
            height: auto;
            overflow-y: auto;
            width: calc(100% - 200px);
            background: #f0f2f5;
        }
    }
    .markDefault{
        width: 100%;
        height: 100%;
        padding: 20px;
        overflow: hidden;
    .markDefaultInfor{
        width: 100%;
        height: 100%;
        justify-content: space-between;
        display: flex;
        .left{
            width: 73%;
            height: 100%;
            background: #fff;
            padding: 50px;
            img{
                width: 100%;
            }
            overflow-x: hidden;
            overflow-y: auto;
            .answerTitle{
                width:100%;
                display: flex;
                justify-content: space-between;
                .answerTitleItem{
                    width: 45% !important;
                }
            }
            .answer{
                width: 100%;
                display: flex;
                padding:10px;
                justify-content: space-between;
                .studentAnswer,.standardAnswer{
                    width: 45%;
                    padding: 10px;
                }
            }
        }
        .right{
            width:25% ;
            height: 200px;
            background: #fff;
        }
    }
}






//用户展示

.showUser {
    h2 {
        height: 70px;
        line-height: 70px;
        padding-left: 30px;
    }

    nav {
        padding-left: 30px;

        .showUseraction {
            border-color: blue;
            color: blue;
        }
    }

    h3 {
        font-size: 24px;
        font-weight: 800;
        height: 60px;
        line-height: 60px;
        padding-left: 30px;
    }
}

//查看试题
.ShowQuestions {
    width: 100%;
    height: 100%;
    padding: 24px;

    .search_main {
        width: 100%;
        height: 200px;
        background: #fff;
        border-radius: 20px;
        margin: 20px 0 50px 0;
        padding: 24px 100px;
        font-size: 18px;

        .object_type {
            width: 100%;
            height: 65px;
            line-height: 65px;
            overflow-x: auto;

            span {
                margin-left: 10px;
                padding: 2px 5px;
                height: 20px;
            }

            span:hover {
                cursor: pointer;
            }

            .click_span {
                background: rgb(58, 127, 225);
                color: #fff;
            }
        }

        .test_type {
            width: 100%;
            height: 65px;
            line-height: 65px;

            .type_span {
                display: inline-block;
                padding: 0 15px;
            }
        }
    }

    .show_list {
        width: 100%;
        padding: 40px 30px;
        background: #fff;
        border-radius: 20px;

        .question_item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 120px;
            width: 100%;
            border-bottom: 1px solid #e8e8e8;
            padding: 15px 0;
        }

        .question_item:hover {
            background: #ebe7e7;
            cursor: pointer;
        }

        .question_item_tags {
            display: flex;
            flex-direction: column;
            width: 80%;
            .tags_list {
                margin: 10px 0;
            }
        }
    }
}

//试题详情
.del {
    width: 100%;
    height: 100%;
    padding: 24px;

    .del_main {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;

        .del_left {
            width: 70%;
            padding: 30px 20px;
            background: #fff;
            border-radius: 10px;
        }

        .del_right {
            width: 25%;
            padding: 30px 20px;
            background: #fff;
            border-radius: 10px;
        }
    }
}

//试题分类
.questionsType {
    width: 100%;
    height: 100%;
    padding: 24px;

    .questionsType_main {
        width: 100%;
        padding: 24px;
        background: #fff;
        border-radius: 10px;
    }

    .add_type {
        margin-bottom: 20px;
        padding: 20px 25px;
        font-size: 16px;
        line-height: 0px;
    }
}


//添加试题
.add_question {
    width: 100%;
    height: 100%;
    padding: 24px;

    .add_question_main {
        width: 100%;
        padding: 40px;
        background: #fff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        .type_span{
            display: flex;
            flex-direction: column;
            width: 200px;
            height: 100px;
            line-height: 50px;
        }
        .lagre{
            width: 250px;
            margin-bottom: 10px;
        }
        #div1,#div2{
            margin: 10px 0;
        }
    }
}


.login {
    width: 100%;
    height: 100%;
    background: url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1603278433783&di=6698b10fc2e86042081608dbadaa6777&imgtype=0&src=http%3A%2F%2Fimg.pconline.com.cn%2Fimages%2Fupload%2Fupc%2Ftx%2Fsoftbbs%2F1110%2F17%2Fc0%2F9295311_1318813842445_1024x1024soft.jpg');
    background-size: 100% 100%;
    .form {
        width: 400px;
        height: 300px;
        position: fixed;
        top: 50%;
        color: #fff;
        right: 100px;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 15px;
        background: rgba(125, 125, 124, 0.3);
        overflow: hidden;

        h2 {
            text-align: center;
            height: 50px;
            background: rgba(152, 149, 149, 0.5);
            line-height: 50px;
            color: #fff;
            font-weight: 800;
        }

        p {
            margin-top: 30px;
            height: 40px;

            span {
                background: rgba(98, 97, 97, 0.6);
                display: inline-block;
                width: 40px;
                height: 40px;

                .anticon {
                    font-size: 24px;
                    line-height: 40px;
                }
            }

            input {
                width: 300px;
                margin-left: 30px;
                height: 35px;
                border-radius: 5px;
                border: 1px solid rgb(81, 77, 77);
                outline-color: #e8e8e8;
                color: #000;
                font-size: 18px;
            }
        }

        div {
            padding-left: 20px;

            .ant-checkbox {
                margin-right: 20px;
            }
        }

        button {
            margin-top: 20px;
            width: 400px;
            height: 50px;
            font-size: 20px;
            text-align: center;
            color: #fff;
            background: rgba(129, 221, 90, 0.5);
            border-radius: 20px;
            cursor: pointer;
            outline: none;
        }

        button:hover {
            background: rgba(150, 247, 108, 0.7);
        }
    }
}



//添加用户
.adduser {
    h2 {
        margin: 20px;
    }

    width: 100%;
    height: auto;
    background: #f0f2f5;
    .ant-layout {
        background: #f0f2f5;

        .ant-layout-sider {
            background: #fff;
            border: 1px solid #e2dddd;
            padding: 20px;

            .ant-form {
                margin-top: 20px;
            }

            .ant-btn {
                padding: 0 30px;
            }

            .ant-select {
                width: 200px;
            }

            .addUseractive {
                border-color: blue;
                color: blue;
            }
        }
    }

    .layrow {
        margin: 0 60px;
    }
}


//班级管理
.classmanager {

    width: 100%;
    height: 100%;
    background: #f5f5f5;
    padding: 25px 10px 25px 20px;
    h2 {
      padding-bottom: 20px;
      box-sizing: border-box;
      overflow: hidden;
    }
    .content {
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;
      padding: 25px 15px;
      background: #fff;
      flex-direction: column;
      .top {
        width: 100%;
        margin-bottom: 15px;
      }
      .list {
        width: 100%;
        flex: 1;
      }
      .add_modal {
        #components-form-demo-control-ref .ant-btn {
          margin-right: 8px;
        }
        .submit {
            margin-left: 8px;
        }
      }
    }
  }

  
//班级管理
.classmanager {
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    padding: 25px 10px 25px 20px;
    .content {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 25px 15px;
        background: #fff;
        flex-direction: column;
        .top {
            width: 100%;
            margin-bottom: 15px;
        }
        .list {
            width: 100%;
            flex: 1;
        }
    }
}
.classromm{
    width: 100%;
    height: 100%;
    padding: 30px;
    .add{
        background: #fff;
    }
    .addbox{
        background: #fff;
        margin-top: 30px !important;
        padding: 30px;
    }
}
.studentmanager{
    width: 100%;
    height: 100%;
    padding: 30px;
    .scorll{
        width: 100%;
        height: 100%;
        .tables{
            width: 100%;
            height: 100%;
        }
    }
    
}



.editable-cell {
    position: relative;
  }
  
  .editable-cell-value-wrap {
    padding: 5px 12px;
    cursor: pointer;
  }
  
  .editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 11px;
  }
  
  [data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #434343;
  }



  
//考试
.gw_addexam{
    h2{
        margin-bottom: 10px;
    }
    width: 100%;
    height: 100%;
    background: #eeeeee;
    padding: 24px;
    .exam_cont{
        background-color: white;
        overflow: hidden;
        padding: 20px ;
        border-radius: 10px;
        div{
            width: 100%;
            p{
                height: 40px;
                line-height: 40px;
                // background: pink;
                margin-top:20px ;
                span{
                    color: red;
                }
            }
            input{
                outline: none;
                height: 30px;
                border: 1px solid #ccc;
                border-radius: 1px;
            }
        }
        Button{
            margin-top: 20px;
        }
    }
    
}
.gwexamEdit{
    h2{
        padding-top: 30px;
    }
    width: 100%;
    height: 100%;
    background: #eeeeee;
    .gwexamEdit_cont{
        background-color: white;
        width: 90%;
        margin: 30px;
        overflow: hidden;
        padding: 10px 50px;
       .gwexamEdit_cont_01{
           text-align: center;
           margin: 10px 0;
           h3{
               font-size: 20px;
           }
           p{
               color: gray;
           }
       }
    }
    .list_cont{
        border: 1px solid #ccc;
        // display: flex;
        // flex-direction: column;
        padding: 0 10px;
        margin: 20px 0;
        i{
            float: right;
            font-style: normal;
            color: rgb(5, 173, 240);
        }
        b{
            display: inline-block;
        }
        b,p{
            margin: 20px 0;
        }
        
    }
    .add{
        margin: 20px 40px;
    }
}

.allExam{
    margin: 10px 0 40px ;
    p{
        span{
            display: inline-block;
            height: 25px;
            line-height: 25px;
            width: auto;
            margin:  10px ;
            padding: 0 3px;
            text-align: center;
        }
        span:hover{
            cursor: pointer;
            color:rgb(5, 173, 240);
        }
        .spanclass{
            color:white;
            cursor: pointer;
            background:  rgb(5, 173, 240);
        }
        #spanclass{
            color:white;
            background:  rgb(5, 173, 240);
            cursor: pointer;
        }
    }
    div{
        display: inline-block;
        margin: 0 10px;
    }
    Button{
        margin-left: 20px;
        padding:  0 20px;
    }
    
    
}
.questionsNew_cont{
    div{
        padding-left: 10px;
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #ccc;
        b{
            margin-bottom: 10px;
        }
        p{
            span{
                display: inline-block;
                padding: 0 1px;
            }
            span:first-child{
                border: 1px solid skyblue;
                background-color: rgb(224, 240, 246);
                color: rgb(70, 189, 236);
            }
            span:nth-child(2){
                border: 1px solid skyblue;
                background-color: rgb(207, 231, 240);
                color:  rgb(22, 78, 100);
                margin:  0 10px;
            }
            span:nth-child(3){
                border: 1px solid orange;
                background-color: rgb(255, 246, 228);
                color: orange;
            }
            b{
                float: right;
                i{
                    font-style: normal;
                }
            }
        }
    }
}
.gwExamList{
    h2{
        padding-top: 30px;
    }
    .gwExamList_cont_01{
        background-color: white;
        height: 100px;
        align-items: center;
        margin: 30px;
        overflow: hidden;
        padding: 10px;
        display: flex;
        div{
            margin-right: 20px;
        }
    }
    .gwExamList_cont_02{
        margin:0 30px ;
    }
    
}

.gwExamDetail{
    h2{
        padding-top: 30px;
    }
    width: 100%;
    height: 100%;
    background: #eeeeee;
    div{
        // display: flex;
        height: auto;
        margin:  30px 20px;
        .right{
            float: right;
            width: 30%;
            margin-left: 1%;
            background-color: white;
            height: 100%;
            margin-right: 3%;

        }
        .left{
            float: left;
            width: 60%;
            background-color: white;
            height: 100%;
            display: flex;
            flex-direction: column;
            div{
                // background-color: yellow;
                border-bottom: 1px solid #ccc;
                display: flex;
                flex-direction: column;

                b{
                    margin: 10px 0;
                }
            }
        }
    }
}