*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html,body,#root{
    width: 100%;
    height: 100%;
}
.home{
    height: 100%;
    width: 100%;
    .header{
        width: 100%;
        height: 80px;
        text-align: center;
        line-height: 80px;
        font-size: 20px;
        border-bottom: 1px solid #ccc;
    }
    .main{
        width: 100%;
        height: calc(100% - 80px) ;
        display: flex;
        .main-left{
            width: 200px;
            flex-shrink: 0;
            border-right: 1px solid #ccc;
            height: 100%;
            .ant-menu-inline{
                height: 100%;
            }
            .ant-menu-submenu-title{
                font-size: 18px;        
            }
        }
        .main-right{
            height: auto;
            overflow-y: auto;
            width: calc(100% - 200px);
            background: #f0f2f5;
        }
    }

}
//用户展示

.showUser{
 h2{
     height: 70px;
     line-height: 70px;
     padding-left: 30px;
 }
 nav{
     padding-left: 30px;
 }
 h3{
     font-size: 24px;
     font-weight: 800;
     height: 60px;
     line-height: 60px;
     padding-left: 30px;
 }
}

//查看试题
.ShowQuestions{
    width: 100%;
    height: 100%;
    padding: 24px;
    .search_main{
        width: 100%;
        height: 200px;
        background: #fff;
        border-radius: 20px;
        margin: 20px 0 50px 0;
    }
    .show_list{
        width: 100%;
        height:600px;
        background: #fff;
        border-radius: 20px;
    }
}


.login{
    width: 100%;
    height: 100%;
    background: url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1603091240060&di=33994062460c92366ae599439efc055b&imgtype=0&src=http%3A%2F%2Ft2.qpic.cn%2Fmblogpic%2F62c172079f245bd42d6c%2F2000');
    .form{
       width: 400px;
       height: 300px;
       position: fixed;
       top: 50%;
       color: #fff;
       right: 100px;
       left: 50%;
       transform: translate(-50%,-50%);
       border-radius: 15px;
       background: rgba(125, 125, 124, 0.3);
       overflow: hidden;
       h2{
           text-align: center;
           height: 50px;
           background: rgba(152, 149, 149, 0.5);
           line-height: 50px;
           color: #fff;
           font-weight: 800;
       }
       p{
           margin-top: 30px;
           height: 40px;
           span{
              background: rgba(98, 97, 97, 0.6);
              display: inline-block;
              width: 40px;
              height: 40px;
              .anticon {
                  font-size: 24px;
                  line-height: 40px;
              }
           }
           input{
            width: 300px;
            margin-left: 30px;
            height: 35px;
            border-radius: 5px;
            border: 1px solid rgb(81, 77, 77);
            outline-color: #e8e8e8;
            color: #000;
            font-size: 18px;
        }
       }
       button{
        margin-top: 20px;
        width: 400px;
        height: 50px;
        font-size: 20px;
        text-align: center;
        color: #fff;
        background: rgba(129, 221, 90, 0.5);
        border-radius: 20px;
        cursor: pointer;
    }
    button:hover{
        background:  rgba(150, 247, 108, 0.7);
    }
    }
}